

<!-- loader -->
<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>

<!-- Modal waiting for matching-->
<div class="modal fade" id="modal-loader" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content m-auto" style="background: unset;">
            <div class="modal-body">
                <div class="loader" style="margin: auto"></div>
                <div class="text-white m-2 mt-4" style="text-align: center;font-size: 24px"><b id="element-time-to-matching">00:00</b>
                    <div class="text-white m-2 mt-4" style="text-align: center;font-size: 24px"><b>Waiting for matching ...</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal waiting for matching-->

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/assets/js/Message/Random/messageRandom.js?v=@DateTime.UtcNow.ToString()"></script>
<script src="/assets/js/Message/Random/messageRandom_socket.js?v=@DateTime.UtcNow.ToString()"></script>