<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/Profile/profile.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>
<body>
<input hidden id="userProfileEmail" th:value="${email}">
<div class="profile-container">
    <div class="profile-details">
        <div class="pd-left">
            <div class="pd-row">
                <img id="user-profile-avatar" src="/assets/img/dogs/image2.jpeg" class="pd-image" height="180px" width="180px" style="object-fit: cover">
                <div>
                    <h3 id="user-profile-name">Dinh Thanh</h3>
                    <p><span  id="user-profile-gender"></span> - <span  id="user-profile-age"></span> tuổi</p>
                    <p id="user-profile-story">story</p>
                </div>
            </div>
        </div>
        <div class="pd-right">
            <div class="d-none addnew">
                <i class="fas fa-plus-circle style-icon"></i>
                <button type="button" class="add-button">Thêm vào tin</button>
            </div>
            <div id="area-open-modal-update-user-info" class="update-profile">
                <i class="fas fa-pen style-icon"></i>
                <button  id="btn-open-modal-update-user-info"
                         data-bs-toggle="modal"
                         data-bs-target="#modal-update-user-info" type="button" class="update-button">Chỉnh sửa thông tin cá nhân</button>
            </div>
        </div>
    </div>
    <div class="profile-info">
        <div class="info-col"></div>
        <div class="post-col">
            <div class="write-post-container">
                <div class="user-profile">
                    <img src="/assets/img/images/profile-pic.png">
                    <div>
                        <a href="" class="profile-name"><p>Nguyễn Duy Kha</p></a>
                    </div>
                </div>
                <div class="post-input-container">
                    <textarea rows="3" placeholder="Bạn đang nghĩ gì?"></textarea>
                    <div class="add-post-links">
                        <div>
                            <a href="#"><img src="/assets/img/images/photo.png">Ảnh</a>
                        </div>
                        <div>
                            <button class="post-button">Đăng bài</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="/assets/img/images/profile-pic.png">
                        <div>
                            <a href="#" class="profile-name"><p>Nguyễn Duy Kha</p></a>
                            <span>20 tháng 12 lúc 14:15</span>
                        </div>
                    </div>
                    <div>
                        <a onclick="settingsMenuToggle(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                            </svg>
                        </a>
                        <div class="settings-menu">
                            <div class="profile-menu">
                                <div>
                                    <p>Xóa bài viết</p>
                                    <i class="far fa-trash-alt"></i>
                                </div>
                                <div>
                                    <p>Trang cá nhân</p>
                                    <i class="far fa-paper-plane"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eos voluptatibus
                    ullam totam sint. Tenetur cumque ex harum ipsum. Doloremque dicta nulla
                    adipisci corrupti maiores molestias eius nemo id nisi!</p>
                <img src="/assets/img/images/feed-image-1.png" class="post-img">
                <div class="post-row">
                    <div class="activity-icons">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>
                            <span><small>120</small></span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal update user info-->
<div class="modal fade" id="modal-update-user-info" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">User Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-update-user-info">
                    <div class="row mb-3">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label class="form-label">Full name</label>
                            <input required class="form-control "
                                   type="text" name="name">
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Age</label>
                            <input required class="form-control " type="number"
                                   min="1" name="age">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label class="form-label">Gender</label>
                            <select required class="form-control " name="gender">
                                <option value="">Nam</option>
                                <option value="">Nữ</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-9">
                                    <label class="form-label">Avatar</label>
                                    <select required class="form-control " name="avatar">
                                        <option value="">Avatar 1</option>
                                        <option value="">Avatar 2</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <img id="avatar-preview" class="border rounded-circle img-profile"
                                         style="object-fit: cover"
                                         src="" width="65px" height="65px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12 mb-6 mb-sm-3">
                            <label class="form-label">Story</label>
                            <textarea class="form-control "
                                      rows="2" name="story"></textarea>
                        </div>
                    </div>
                    <h4 class="my-3">Matching info</h4>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label class="form-label">Gender matching</label>
                            <select required class="form-control " name="genderPreference">
                                <option value="">Nam</option>
                                <option value="">Nữ</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Age matching from</label>
                            <input required class="form-control " type="number"
                                   min="1" name="agePreferenceFrom">
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Age matching to</label>
                            <input required class="form-control " type="number"
                                   min="1" name="agePreferenceTo">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button form="form-update-user-info" type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- end Modal update user info-->







<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/assets/js/form_data_to_json.js"></script>
<script src="/assets/js/Profile/profile.js"></script>


<script>
    function settingsMenuToggle(e) {
        console.log(e.closest(".settings-menu"))
        e.parent().closest(".settings-menu").classList.toggle("settings-menu-height");
    }
</script>
</body>
</html>